# Objectives

Analyze a small, publicly available dataset using Python's Numpy or Pandas libraries.
1. Explore the data:

Print the first few rows using data.head().

Get summary statistics(mean, median, standard deviation, etc.) using data.describe().

2. Calculate basic statistics:

Calculate the mean, median, mode and standard deviation for each numerical feature.

Calculate the correlation between different feartures using data.corr().

# Importing the libries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Importing the Dataset

In [43]:
data = pd .read_csv("Online_Sales_Data.csv")
data.head()  # first 5 rows

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,1/1/2024,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,1/2/2024,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,1/3/2024,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,1/4/2024,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,1/5/2024,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

# Summary statistics(mean, median, standard deviation, etc.) using data.describe()

In [44]:
data.describe()

       Transaction ID  Units Sold   Unit Price  Total Revenue
count       240.00000  240.000000   240.000000     240.000000
mean      10120.50000    2.158333   236.395583     335.699375
std          69.42622    1.322454   429.446695     485.804469
min       10001.00000    1.000000     6.500000       6.500000
25%       10060.75000    1.000000    29.500000      62.965000
50%       10120.50000    2.000000    89.990000     179.970000
75%       10180.25000    3.000000   249.990000     399.225000
max       10240.00000   10.000000  3899.990000    3899.990000

# Calculate basic statistics: the mean, median, mode and standard deviation for each numerical feature

## Mean

In [45]:
data["Transaction ID"].mean()

np.float64(10120.5)

In [46]:
data["Units Sold"].mean()

np.float64(2.158333333333333)

In [47]:
data["Unit Price"].mean()

np.float64(236.3955833333333)

In [48]:
data["Total Revenue"].mean()

np.float64(335.699375)

## Median

In [49]:
data["Transaction ID"].median()

10120.5

In [50]:
data["Units Sold"].median()

2.0

In [51]:
data["Unit Price"].median()

89.99

In [52]:
data["Total Revenue"].median()

179.97

## Mode

In [53]:
data["Transaction ID"].mode()

0      10001
1      10002
2      10003
3      10004
4      10005
       ...
235    10236
236    10237
237    10238
238    10239
239    10240
Name: Transaction ID, Length: 240, dtype: int64

In [54]:
data["Units Sold"].mode()

0    1
Name: Units Sold, dtype: int64

In [55]:
data["Unit Price"].mode()

0    49.99
Name: Unit Price, dtype: float64

In [56]:
data["Total Revenue"].mode()

0    299.99
Name: Total Revenue, dtype: float64

## Standard Deviation

In [57]:
data["Transaction ID"].std()

69.42621983083913

In [58]:
data["Units Sold"].std()

1.3224538706088886

In [38]:
data["Unit Price"].std()

429.4466949104776

In [59]:
data["Total Revenue"].std()

485.80446856513214

# Calculate the correlation between different feartures using data.corr().

In [60]:
# Simple correlation for numerical columns
numerical_data = data[["Transaction ID", "Units Sold", "Unit Price", "Total Revenue"]].copy()
correlation_matrix = numerical_data.corr()
print(correlation_matrix)

                Transaction ID  Units Sold  Unit Price  Total Revenue
Transaction ID        1.000000   -0.189944   -0.071863      -0.175622
Units Sold           -0.189944    1.000000   -0.308583      -0.171151
Unit Price           -0.071863   -0.308583    1.000000       0.930350
Total Revenue        -0.175622   -0.171151    0.930350       1.000000